.container{
    display:flex ;
    flex-direction: row;
    height: 50px;
}

.col1{
    background-color: lightpink;
    width: 100px;
}
.col2{
    background-color: lightblue;
    width: 200px;
}
.nested-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rows{
    color: white;
    background-color: black;
}

