.header{
    display: flex;
    height: 57px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.left-section,.middle-section{
    display: flex;
    flex-direction: row;
}
.left-section{
    width: 150px;
    margin-left: 10px;
    justify-content: space-between;
}
.icon{
    cursor: pointer;
    height: 24px;
}
.middle-section{
    align-items: stretch;
    width: 400px;
}
.search-bar{
    height: 40px;
    flex:1;
    padding-left: 12px;
    border-width: 1px;
    border-color:#cccccc;
    border-style: solid;
    border-radius: 3px 0px 0px 3px;
    box-shadow: inset  0px 1px 2px #eeeeee;
    font-size: 16px;
    box-sizing: border-box;
}

.search-bar::placeholder{
    color: rgb(163, 158, 158);
}
.search-button{
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    height: 40px;
    width: 60px;
    border-width: 1px;
    border-left-width: 0px;
    border-color:#cccccc;
    border-style: solid;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right-section{
    display: flex;
    align-items: center;
    width: 182px;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 29px;
}
.profile-pic{
    cursor: pointer;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 20px;
}

.icon-tip{
    background-color: rgba(96, 96, 96, 0.9);
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .icon-tip{
    opacity: 1;
}

.voice-search-button:hover .icon-tip{
    opacity: 1;
}
.tooltip-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.tip-container:hover .icon-tip{
    opacity: 1;
}
.notifications-icon-container {
    position: relative;
    
  }
  .notifications-icon-container:hover .icon-tip{
    opacity: 1;
  }
  
  .notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
  }

