.container{
    display: flex;
    flex-direction: row;
}

.lightblue{
    background-color: rgb(182, 215, 228);
}

.lightpink{
    background-color: rgb(244, 185, 194);
}

.item1{
    width: 50px;
}

.item2{
    flex: 1;
}

.item3{
    width: 75px;
}