p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
.container{
    background-color: black;
    color: white;
    padding:12px;
    width: 350px;
}

.title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;

}

.detail{
    color: rgb(204, 199, 199);
}