body{
    height: 3000px;
}
.close-button-container{
    position: absolute;
    top: 10px;
    right: 10px;
}
.close-button{
    border: none;
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial;
}
